/******************************************************************************/
/* ModuleListWindow */
/******************************************************************************/
.ModuleListWindow tbody tr td:nth-child(2) span {
  margin-right: 10px;
}

.ModuleListWindow i:hover {
  color: #FF8556;
  cursor: pointer;
}

/******************************************************************************/
/* CreateModuleWindow */
/******************************************************************************/
.CreateModuleWindow {
  width: 400px;
  margin-top: 20px;
}

.CreateModuleWindow .panel .panel-body div:last-child {
  font-size: 0px;
}

.CreateModuleWindow .panel .panel-body div:last-child button:first-child {
  margin-right: 10px;
}

/******************************************************************************/
/* RemoveConfirmWindow */
/******************************************************************************/
.RemoveConfirmWindow {
  width: 400px;
  margin-top: 20px;
}

.RemoveConfirmWindow .panel .panel-body div:first-child {
  text-align: center;
}

.RemoveConfirmWindow .panel .panel-body div:last-child {
  font-size: 0px;
}

.RemoveConfirmWindow .panel .panel-body div:last-child button:first-child {
  margin-right: 10px;
}

/******************************************************************************/
/* ModifyModuleDescriptionWindow */
/******************************************************************************/
.ModifyModuleDescriptionWindow {
  width: 400px;
  margin-top: 20px;
}

.ModifyModuleDescriptionWindow .panel .panel-body div:last-child {
  font-size: 0px;
}

.ModifyModuleDescriptionWindow .panel .panel-body div:last-child button:first-child {
  margin-right: 10px;
}
