.SourceCodeWindow i:hover {
  color: #FF8556;
  cursor: pointer;
}

/* 设置编译结果的高度 */
.SourceCodeWindow .panel-body div textarea {
  height: 200px;
}

/* 设置文字和图标的间距 */
.SourceCodeWindow div table tbody tr td span {
  margin-right: 10px;
}

/* 消除按钮的间距且靠右放置 */
.SourceCodeWindow .panel-body div:nth-child(3) {
  font-size: 0px;
  text-align: right;
}

/* CompileCommand控件靠左 */
.SourceCodeWindow .panel-body div:nth-child(3) input {
  float: left;
}

/* 设置Help按钮和ComplieTest按钮间距 */
.SourceCodeWindow .panel-body div:nth-child(3) button:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

/* 消除按钮的间距 */
.SourceCodeWindow .panel-body div:last-child {
  font-size: 0px;
}

/* 重置按钮的间距 */
.SourceCodeWindow .panel-body div:last-child button:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.AddConstantWindow {
  width: 400px;
  margin-top: 20px;
}

/* 消除按钮的间距 */
.AddConstantWindow .panel-body div:last-child {
  font-size: 0px;
}

/* 重置按钮的间距 */
.AddConstantWindow .panel-body div:last-child button:first-child {
  margin-right: 10px;
}

.AddAttributeWindow {
  width: 400px;
  margin-top: 20px;
}

/* 消除按钮的间距 */
.AddAttributeWindow .panel-body div:last-child {
  font-size: 0px;
}

/* 重置按钮的间距 */
.AddAttributeWindow .panel-body div:last-child button:first-child {
  margin-right: 10px;
}
