<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE xml>
<Config>
    <!-- 框架配置所需 -->
    <!--
        [SourceCode]
            rebuild
                0 不编译.
                1 编译.
            command: 编译源码的命令.多个jar和java之间用";"分隔.
    -->
    <SourceCode rebuild = "1" command = "javac -g -encoding utf-8 -cp ${WEB_APP}/WEB-INF/lib/*;${WEB_APP}/WEB-INF/classes -d ${WEB_APP}/WEB-INF/module/antcolony/bin ${WEB_APP}/WEB-INF/module/antcolony/src/antcolony/necessary/Config.java ${WEB_APP}/WEB-INF/module/antcolony/src/antcolony/necessary/Custom.java ${WEB_APP}/WEB-INF/module/antcolony/src/antcolony/necessary/Daemon.java ${WEB_APP}/WEB-INF/module/antcolony/src/antcolony/optional/Module.java" />
    <!--
        [Module]
            enable
                true 启用模块.
                false 禁用模块.
    -->
    <Module enable = "true" />
    <!--
        [Docs]
            enable
                true 启用API.
                false 禁用API.
    -->
    <Docs enable = "true" />
    <!-- 其他业务所需 -->
    <!--
         file_storage模块用于实现文件的存储功能.这里将上传的文件存储于数据库中,不建议存储在本地.原因有二:
         1. 在文件数据不大时,不会产生因web集群造成的文件共享问题.
         2. 在文件数据较大时,通常采用"对象存储"的中间件实现.若是发生迁移,这种存储于数据库的选择无疑是修改成本最低的方式.
    -->
    <!--
        [WebServer]
        startCommand: 启动WebServer的命令(如果内容为空, 则不启用该功能).
        stopCommand: 停止WebServer的命令(如果内容为空, 则不启用该功能).
        logFilePath: 日志文件的路径(用于读取显示在前端)(如果内容为空, 则不启用该功能).
        注意: 由于运行环境大相径庭, 所以命令一定要事先在运行环境中测试通过.
    -->
    <WebServer startCommand = "cmd /c E:/tmp/9.0.1/bin/startup.bat" stopCommand = "cmd /c E:/tmp/9.0.1/bin/shutdown.bat" logFilePath = "E:/tmp/catalina.out" />
</Config>
