<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE xml>
<Config>
        <!-- 框架配置所需 -->
        <!--
                [SourceCode]
                rebuild: 0 不编译.
                         1 编译.
                command: 编译源码的命令.多个jar和java之间用";"分隔.
        -->
        <SourceCode rebuild = "1" command = "javac -encoding utf-8 -cp ${WEB_APP}/WEB-INF/lib/*;${WEB_APP}/WEB-INF/classes -d ${WEB_APP}/WEB-INF/module/demo/bin ${WEB_APP}/WEB-INF/module/demo/src/demo/necessary/Config.java ${WEB_APP}/WEB-INF/module/demo/src/demo/necessary/Custom.java ${WEB_APP}/WEB-INF/module/demo/src/demo/necessary/Daemon.java ${WEB_APP}/WEB-INF/module/demo/src/demo/optional/AuthorInfo.java" />
        <!--
                [Module]
                enable: true 启用模块.
                        false 禁用模块.
        -->
        <Module enable = "true" />
        <!--
                [Docs]
                enable: true 启用Api.
                        false 禁用Api.
        -->
        <Docs enable = "true" />
        <!-- 其他业务所需 -->
        <!-- 作者信息 -->
        <AuthorInfo name = "Jack" birthday = "1984.10.19" />
</Config>

